<!DOCTYPE html>
{% autoescape true %}
<html>
  <!-- [START head_html] -->
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	
	<!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);
      google.setOnLoadCallback(drawChart2);
      google.setOnLoadCallback(drawVisualization);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      
      function drawVisualization() {
       // Create and populate the data table.
       var data = new google.visualization.DataTable();
       var raw_data = [['Austria', -1336060, -1538156, -1576579, -1600652, -1968113, 1901067, 1, 2, 3, 4, 5, 6],
                       ['Bulgaria', 400361, 366849, 440514, 434552, 393032, 517206, 1111, 22222, 3333, 4444444, 555, 666],
                       ['Denmark', 1001582, 1119450, 993360, 1004163, 979198, 916965, 1001582, 1119450, 993360, 1004163, 979198, 916965],
                       ['Greece', 997974, 941795, 930593, 897127, 1080887, 1056036, -1336060, -1538156, -1576579, -1600652, -1968113, 1901067]
                      ];

       var years = [2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014];

       data.addColumn('string', 'Depth');
       for (var i = 0; i  < raw_data.length; ++i) {
         data.addColumn('number', raw_data[i][0]);    
       }

       data.addRows(years.length);

       for (var j = 0; j < years.length; ++j) {    
         data.setValue(j, 0, years[j].toString());    
       }
       for (var i = 0; i  < raw_data.length; ++i) {
         for (var j = 1; j  < raw_data[i].length; ++j) {
            data.setValue(j-1, i+1, raw_data[i][j]);    
         }
       }

       var options = {
       			  title:"Test test test test test test test",
       			  titleTextStyle: { color: 'breen',
  									fontName: 'Times-Roman',
  									fontSize: 26,
  									bold: true,
  									italic: false },
                  width:600, height:400,
                  isStacked: 'true',
                  orientation: 'vertical',
                  vAxis: {title: "Depth"},
                  hAxis: {title: "Value"},
                  legend: {position: 'top', textStyle: {color: 'blue', fontSize: 12}}
                  }
       
       
       
       // Create and draw the visualization.
       new google.visualization.LineChart(document.getElementById('chart_div3')).
            draw(data, options);
                 

      }
 
 
 
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Mushrooms', 3],
          ['Onions', 1],
          ['Olives', 1],
          ['Zucchini', 1],
          ['Pepperoni', 2]
        ]);

        // Set chart options
		var options = {
  			'legend':'left',
  			'title':'My Big Pie Chart',
  			'is3D':true,
  			'width':800,
  			'height':800
			}
        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);

      }
      function drawChart2() {
      
        // Create the data table.
        var data = new google.visualization.DataTable();
		data.addColumn('string', 'Task');
		data.addColumn('number', 'Hours per Day');
		data.addRows([
  		['Work', 11],
  		['Eat', 2],
  		['Commute', 2],
  		['Watch TV', 2],
  		['Sleep', {v:7, f:'7.000'}]
		]);
        // Set chart options
		var options = {
  			'legend':'left',
  			'title':'Text Bar Chart',
  			'is3D':true,
  			'width':800,
  			'height':800
			}
        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart_div2'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <!-- [END head_html] -->
  <body>
    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.email }}
          {% if user and user.user_id() == greeting.author.identity %}
            (You)
          {% endif %}
        </b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content }}</blockquote>
    {% endfor %}

    <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

    <hr>

    <form>Guestbook name:
      <input value="{{ guestbook_name }}" name="guestbook_name">
      <input type="submit" value="switch">
    </form>

    <a href="{{ url|safe }}">{{ url_linktext }}</a>

    <div id="chart_div3"></div>
	<div id="chart_div"></div>
	<div id="chart_div2"></div>
	
  </body>
</html>
{% endautoescape %}
